:root {
  --main-color: #01996d;
  --second-color: #245852;
  --third-color: #484848;
  --header-font-family: "Arbutus Slab", serif;
  --default-font-family: "Lato", sans-serif;
}

body {
  font-family: var(--header-font-family);
}

/* Navbar */

.logo {
  max-height: 40px;
}
nav {
  padding: 25px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  font-size: 18px;
  font-family: var(--default-font-family);
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: var(--third-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  text-decoration: underline;
  color: var(--main-color);
}

/* Header */

.header {
  text-align: center;
}

.img-title {
  background-image: url(../img/bgfoto.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 800px;
}

.main-title {
  color: var(--main-color);
  font-weight: 400;
  font-size: 65px;
  padding-top: 65px;
}

.sub-title {
  font-family: var(--default-font-family);
  color: var(--third-color);
  font-weight: 400;
  font-size: 40px;
  padding-top: 25px;
}

.btn-contact,
.btn-contactme,
.btn-project {
  background-color: var(--main-color);
  font-family: var(--default-font-family);
  color: white;
  padding: 20px 50px;
  margin-top: 25px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 20px;
}

:hover.btn-contact {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

:hover.btn-contactme {
  border: 1px solid white;
  color: white;
}

:hover.btn-project {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.second-card {
  margin: 150px 0 100px 0;
}

.work-title {
  font-family: var(--header-font-family);
  color: var(--main-color);
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin: 70px 0;
}

.work-card-number {
  font-weight: 400;
  font-size: 150px;
  color: rgba(1, 153, 109, 0.2);
}

.work-card-title {
  font-weight: 400;
  font-size: 30px;
  color: var(--third-color);
}

.btn-learn-more {
  font-family: var(--default-font-family);
  border: 1px solid var(--main-color);
  color: var(--main-color);
  padding: 20px 50px;
  margin-top: 25px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 20px;
}

:hover.btn-learn-more {
  color: var(--main-color);
  text-decoration: underline;
}

.work-card-text {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--third-color);
  margin: 20px;
}

.call-card {
  background-color: var(--second-color);
  border-radius: 4px;
  color: white;
  width: 100%;
  height: 225px;
}

.work-inquiry {
  font-weight: 400;
  font-size: 50px;
}

.let-work {
  font-family: var(--default-font-family);
  font-weight: 600;
  font-size: 25px;
}

.mail-title {
  color: var(--main-color);
  font-weight: 400;
  font-size: 30px;
  margin: 45px 0;
}

:hover.mail-title {
  color: var(--second-color);
}

.fa-brands {
  font-size: 24px;
  color: var(--main-color);
  margin: 0 10px 30px 0;
  padding: 15px 15px;
  border: solid 1px var(--main-color);
  border-radius: 50%;
}

:hover.fa-brands {
  background-color: var(--second-color);
  color: white;
}

/* About me page */

.img-aboutme {
  padding: 80px 20px 80px 60px;
}

.about-title {
  color: var(--main-color);
  font-weight: 400;
  font-size: 50px;
  padding-top: 120px;
}

.about-subtitle {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 25px;
  color: var(--third-color);
  padding-top: 20px;
}

.about-text {
  padding-top: 18px;
  max-width: 450px;
  font-weight: 400;
  font-family: var(--default-font-family);
  font-size: 18px;
}

.video-card {
  background-color: var(--second-color);
  border-radius: 4px;
  color: white;
  width: 100%;
  margin-top: 40px;
}

.video-title {
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  padding-top: 60px;
}

.video-subtitle {
  font-family: var(--default-font-family);
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  padding-top: 15px;
}

.video {
  width: 1100px;
  height: 720px;
  display: block;
  margin: 0 auto;
  padding: 30px 0 70px 0;
}

.call-card-about {
  margin-top: 80px;
}

/* Work page */

.project-title {
  color: var(--main-color);
  text-align: center;
  margin: 80px 0;
  font-weight: 400;
  font-size: 50px;
}

.project-img {
  border-radius: 15px;
}

.project-subtitle {
  font-weight: 400;
  font-size: 36px;
  color: var(--second-color);
  margin: 15px 0;
}

.project-text {
  color: var(--third-color);
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 70px;
}

/* Contact page */

.contact-title {
  color: var(--main-color);
  margin: 80px 0 40px 0;
  font-weight: 400;
  font-size: 50px;
}

.contact-subtitle {
  color: var(--third-color);
  margin: 20px 0 20px 0;
  font-weight: 400;
  font-size: 36px;
}

.contact-link {
  color: var(--third-color);
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 24px;
  margin: 20px 0 20px 0;
}

:hover.contact-link {
  color: var(--main-color);
}

.second-tel {
  margin-bottom: 80px;
}

/* Responsive home page */

@media (max-width: 960px) {
  .img-title {
    height: 600px;
  }

  .main-title {
    font-size: 45px;
  }

  .sub-title {
    font-size: 16px;
    padding-top: 15px;
  }

  .btn-contact {
    font-size: 16px;
    padding: 10px 30px;
  }
  .work-title {
    font-size: 18px;
    margin: 50px 0;
  }

  .work-card-number {
    font-size: 80px;
  }

  .work-card-title {
    font-size: 20px;
  }

  .work-card-text {
    font-size: 16px;
    margin: 15px;
  }

  .second-card {
    margin-top: 60px;
  }

  .btn-learn-more {
    font-size: 16px;
    padding: 10px 30px;
  }

  .work-img-third {
    margin-bottom: 50px;
  }

  .work-inquiry {
    font-weight: 400;
    font-size: 25px;
    padding-top: 10px;
  }

  .let-work {
    font-size: 12px;
  }

  .btn-contactme {
    font-size: 16px;
    padding: 10px 30px;
  }

  .mail-title {
    font-size: 20px;
  }

  .fa-brands {
    font-size: 18px;
    padding: 10px 10px;
  }

  /* About me responsive  */

  .img-aboutme {
    padding: 0;
    /* width: 408px; */
  }

  .about-title {
    text-align: center;
    padding: 40px 0 0 0;
    font-size: 36px;
  }

  .about-subtitle {
    text-align: center;
    font-size: 20px;
  }

  .about-text {
    text-align: center;
    font-size: 14px;
    max-width: 100%;
  }

  .btn-project {
    display: block;
    margin: 30px auto;
    max-width: 180px;
    font-size: 16px;
    padding: 10px 30px;
  }

  .video-title {
    font-size: 20px;
  }

  .video-subtitle {
    font-size: 16px;
  }

  .video {
    max-width: 90%;
    max-height: 70%;
    width: 700px;
    height: 450px;
  }

  /* Navbar */

  nav a {
    font-size: 14px;
  }

  .logo {
    max-height: 30px;
  }
}
