:root {
  --main-color: #01996d;
  --second-color: #245852;
  --third-color: #484848;
  --header-font-family: "Arbutus Slab", serif;
  --default-font-family: "Lato", sans-serif;
}

body {
  font-family: var(--header-font-family);
}

.header {
  text-align: center;
}

.img-title {
  background-image: url(../img/bgfoto.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 800px;
}

.main-title {
  color: var(--main-color);
  font-weight: 400;
  font-size: 65px;
  padding-top: 65px;
}

.sub-title {
  font-family: var(--default-font-family);
  color: var(--third-color);
  font-weight: 400;
  font-size: 40px;
  padding-top: 25px;
}

.btn-contact {
  background-color: var(--main-color);
  font-family: var(--default-font-family);
  color: white;
  padding: 20px 50px;
  margin-top: 25px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 20px;
}

:hover.btn-contact {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
